.grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    gap: 40px 100px;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: #00743c;
    padding: 10px;
    margin: 100px auto;
}

.grid-container2 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.item6 {
 grid-column: 2/4;
}

.grid-container3 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: #791a1a;
    padding: 10px;
    margin: 100px auto;
}

.grid-container3 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.item1t {
    /* LINHA INICIAL- COLUNA INICIAL - LINHA FINAL - COLUNA FINAL */
    grid-area: 1 / 1 / 3 / 1;
}

.item2t {
    grid-area: 1 / 4 / 3 / 4;
}

.grid-container4 {
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'menu main main main right righ'
    'menu footer footer footer footer footer';
    gap: 10px;
    background-color: #fadbdc;
    padding: 10px;
}

.grid-container4 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    pad: 20px 0;
    font-size: 30px;
}

.item1x {grid-area:  header;}
.item2x {grid-area:  menu;}
.item3x {grid-area:  main;}
.item4x {grid-area:  right;}
.item5x {grid-area:  footer;}


@media  screen and (max-width: 600px) {
    .grid-container4 {
        grid-template-areas: 
         'header'
         'menu'
         'main'
         'right'
         'footer';
        ;
    }
    
}